
body {
	--nav-bar-background-color: var(--light-blue);
	/* background-color: blue; */
}

.links-menu li * {
	margin: 0px 5px;
	cursor: pointer;
	font-family: var(--sans-serif);
	/* font-family: var(--serif); */
}

.nav-links {
	display: flex;
	flex-direction: row;
}

.nav-bar-container {
	/* position: sticky; */
	height: 130px;
	position: fixed;
	top:0px;
	z-index: 10;
	width: 100%;
	background-color: var(--medium-blue);
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--medium-blue);
	
}

.nav-bar-offset {
	height: 130px;
}

.nav-bar-divider {
	width: 60%;
	border-bottom: 1px solid var(--dark-red);
	margin: 5px 0px;

}

.nav-bar-container h1 {
}