
body {
	--nav-bar-background-color: var(--light-blue);
}

.links-menu li * {
	margin: 0px 8px;
	cursor: pointer;
	font-family: var(--sans-serif);
}

.nav-links {
	display: flex;
	flex-direction: row;
}

.nav-links > li:not(:first-child)::before {
	content: "·";
}

.nav-bar-container {
	/* height: 190px; */
	min-height: 0px;
	position: fixed;
	top:0px;
	z-index: 10;
	width: 100%;
	background-color: var(--white);
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid var(--medium-blue);
}

.test-button {
	font-family: var(--sans-serif);
	cursor: pointer;
}

.nav-bar-logo {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

.text-logo > i {
	font-size: 0.5em;
	color: var(--orange);
	align-self: flex-end;
	position: relative;
	bottom: 0.25em;
}

.text-logo {
	font-size: 7rem;
	font-family: var(--montserrat);
	padding-bottom: 10px;
	box-sizing: border-box;
	font-weight: 200;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-bar-offset {
	height: 190px;
}

.nav-bar-divider {
	width: 60%;
	border-bottom: 1px solid var(--dark-red);
	margin: 5px 0px;

}

.under-construction {
	color: rgba(255,255,255,0.3);
}

.nav-link-id {
	transition: 0.3s ease-in;
	
}

.nav-link-id:hover {
	color: var(--orange);
	/* animation: navLinkColor 0.8s ease 0s 1 normal forwards;  */
}

@keyframes navLinkColor {
	0% {
		color: var(--black)
	}
	100% {
		color: var(--orange)
	}
	
}

.logged-in-logo {
	font-size: 3rem;
	transition: font-size 0.7s ease 0.2s;
}