/* .grid-item1 { grid-area: current}
.grid-item {grid-area: previous} */

.goals-container {
    padding: 20px 0;
}

.goals-container > h2 {
    margin-top: 20px;
    margin-bottom: 10px;

}
.goals-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    row-gap: 10px;
    column-gap: 10px;

    /* grid-template-areas: 
        ". current . "
        "previous previous previous"
        "previous previous previous" */
}

.grid-item {
    border: 1px solid yellow;
    padding: 10px;
}

#current-goal {
    grid-column: 1 / span 3;
}

#previous-goal {
    grid-column: span 1;
}