p, h3 {
  margin-left: 5px;
}

.feedPostBlock {
  border: 2px solid blue;
  border-radius: 10px;
  margin-bottom: 5px;
  min-height: 57px;
}

.feed-post-editable-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.feed-post-editable-container > * {
	margin: 10px;
}

.feed-post-content {
	width: 70%;
	word-wrap: break-word;
	box-sizing: border-box;
}

#feed-post-text-edit {
	word-wrap: break-word;
	width: 100%;
	/* min-height: 0px; */
	/* overflow: scroll; */
}

.feed-post-crud-controls {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.feed-post-crud-button {
	background-color: var(--form-button-color);
	color: var(--form-text-input-color);
	padding: 5px;
	margin: 5px;
	width: 100px;
}