p, h3 {
  margin-left: 5px;
}


.feed-post-editable-container {
	/* border: 1px solid var(--medium-blue-darker); */
	border-radius: 10px;
	margin-bottom: 5px;
	min-height: 57px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	/* justify-content: space-between; */
	justify-content: stretch;
	/* min-width: 500px; */
	/* width: 40vw; */
	margin: 15px;
	margin-left: 10vw;
	border-right: none;
	border-bottom: none;
	border: none;
	box-shadow: 0px 0px 3px var(--medium-blue-darker);
	transition: background-color 0.5s;
}

.feed-post-editable-container:nth-child(1) {
	margin-top: 0px;
}

.feed-post-editable-container:hover {
	background-color: var(--light-blue-darker);
	background-color: var(--soft-white);
	/* color: black; */
}

.feed-post-editable-container > * {
	margin: 10px;
}

.feed-post-editable-container * {
	font-size: 15px;
	
}

.feed-post-content {
	display: flex;
	flex-direction: column;
	width: 400px;
	/* max-width: 400px; */
	word-wrap: break-word;
	box-sizing: border-box;
}

.feed-post-content * {
	font-family: var(--sans-serif);
}

.feed-post-row {
	display: inline;
	line-height: 1.2;
	/* flex-direction: row; */
	/* flex-wrap: wrap; */
	/* column-gap: 1em; */
}

.feed-post-header {
	display: flex;
	column-gap: 5px;
}

.feed-post-header * {
	align-self: center;
}

.feed-post-row span {
	margin-right: 5px;;
}

.feed-post-row > * {
	/* margin: 0px 1em; */
}

.post-username {
	/* align-self: center; */
	color: var(--medium-blue-darker);
	font-weight: 800;
}

.post-follow {
	font-weight: 600;
	color: var(--orange);
	/* padding: 2px; */
	/* border: 1px solid black; */
	/* border-radius: 8px; */
}

.post-follow:hover {
	cursor: pointer;
	background: var(--orange);
	border-radius: 2px;
	/* padding:5px; */
	color: white;
	transition: color 0.5s ease 0s, background-color 0.5s ease 0s;
}

.post-timestamp {
	/* align-self: center; */
	color: var(--dark-red);
	font-weight: 400;
	font-size: 14px;
}

.post-goal-title {
	color: var(--dark-blue);
	font-weight: 600;
}

.post-goal-description {

}

.feed-post-text-edit {
	box-sizing: border-box;
	word-wrap: break-word;
	width: 100%;
	margin: 8px 0;
	/* min-height: 0px; */
	/* overflow: scroll; */
}

.feed-post-crud-controls {
	align-self: stretch;
	/* height: 100%; */
	width: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	justify-content: flex-start;
	align-items: center;
	align-items: flex-end;
}

.feed-post-crud-button {
	background-color: var(--form-button-color);
	color: var(--form-text-input-color);
	padding: 10px;
	margin: 5px;
	font-family: var(--sans-serif);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border-radius: 8px;
}

.feed-post-crud-button:hover{
	cursor: pointer;
	transition: 0.3s ease;
	transform: scale(1.01);
	box-shadow: 1px 1px 5px #05384d;
}

.post-divider {
	/* align-self: center; */
	width: 100%;
	border-bottom: 0.5px solid var(--black);
	margin: 15px 0px;

}

.latest-exercise-text {
	font-style: italic;
	font-size: 0.9em;
}


/* POST - WORKOUT */
/* POST - WORKOUT */
/* POST - WORKOUT */

.post-workout-rating {
	background-color: pink;
	font-size: 40px;
}