.feed-posts-container {
	/* position: absolute; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	/* height: 100vh; */
	/* top:  */
	/* overflow-x: scroll; */
	/* overflow-y: scroll; */
	/* overflow: scroll; */
	/* padding-left: 40px; */
	/* padding-right: 80px; */
	/* padding: 0vw 10vw; */
	/* width: 90vw; */
	/* padding-right: 5vw; */
}

.feed-posts-container > h2 {
	/* position: absolute; */
	/* top: 200px; */
	margin: 20px 0px;
	/* z-index: -1; */
}

#toggle1 {
	display:none;
}


#toggle2 {
	display: none;
}

/* .feed-posts-container {
	opacity: 1;
	scale: 1;
}

#toggle2:checked ~ .feed-posts-container {
	opacity: 0;
	transition: opacity 1s, transform 1s;
	transform: scale(0.95);
}

#toggle1:checked ~ .feed-posts-container {
	opacity: 1;
	transition: opacity 1s, transform 1s;
	transform: scale(1);
} */
