.feed-header {
	margin: 20px 0px;
	font-family: var(--montserrat);
	font-weight: 500;
}

.feed-posts-container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	/* height: 100vh; */
	/* top:  */
	/* overflow-x: scroll; */
	/* overflow-y: scroll; */
	/* overflow: scroll; */
	/* padding-left: 40px; */
	/* padding-right: 80px; */
	/* padding: 0vw 10vw; */
	/* width: 90vw; */
	/* padding-right: 5vw; */
}

.inner-feed-posts-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.inner-feed-posts-container > h2 {
	/* position: absolute; */
	/* top: 200px; */
	/* margin: 20px 0px; */
	/* z-index: -1; */
}

#toggle1 {
	display:none;
}


#toggle2 {
	display: none;
}

/* .feed-posts-container {
	opacity: 1;
	scale: 1;
}

#toggle2:checked ~ .feed-posts-container {
	opacity: 0;
	transition: opacity 1s, transform 1s;
	transform: scale(0.95);
}

#toggle1:checked ~ .feed-posts-container {
	opacity: 1;
	transition: opacity 1s, transform 1s;
	transform: scale(1);
} */

.feed-header-letter {
	font-size: 3rem;
	font-weight: 700;
	margin: 20px 0px;
	font-family: var(--montserrat);
	font-weight: 500;
	opacity: 0;
	animation: fadeInLetter 0.18s ease-in-out 0s 1 normal forwards;
}

@keyframes fadeInLetter {
	0% {
		opacity: 0;
		/* transform: rotateY(0); */
		color: white;
	}
	40%{
		color: white;
	}
	50% {
		opacity: 1;
		color: orange;
		/* transform: rotateY(90deg); */

	}
	100% {
		opacity: 1;
		color: black;
		transform: scale(-1,1);
		/* transform: rotateY(180deg); */
	}
}