.follow-nav-bar-container {
	position: sticky;
	top: 200px;
	padding: 6px;
}

.follow-nav-bar-container * {
	font-family: var(--sans-serif);
}

.follow-nav-bar-container ul {
	background-color: inherit;
}

.follow-nav-bar-container li {
	margin-bottom: 5px;
	transition: 0.5s;
	padding: 1px;
	border-radius: 0.5px;
}

.follow-nav-bar-container li:hover {
	cursor: pointer;
	/* color: var(--orange); */
	/* background-color: var(--light-blue); */
	/* font-weight: 900; */
}

.follow-nav-bar-container a.active {
	color: var(--orange);
}

.follow-nav-active {
	color: var(--black);
}

.hoverMarker {
	z-index: -1;
	position: absolute;
	min-height: 20px;
	/* width: 50px; */
	background-color:var(--orange);
	opacity: 0;
	/* transition: all 0.5s; */
	/* transition: all 0.5s; */
}