.follow-nav-bar-container {
	position: sticky;
	top: 200px;
}

.follow-nav-bar-container * {
	font-family: var(--sans-serif);
}

.follow-nav-bar-container ul {
	background-color: inherit;
}

.follow-nav-bar-container li {
	margin-bottom: 5px;
	transition: 0.5s;
	padding: 1px;
	border-radius: 0.5px;
}

.follow-nav-bar-container li:hover {
	cursor: pointer;
	/* color: var(--orange); */
	background-color: var(--light-blue);
	/* font-weight: 900; */
}