.profile-container {
	/* position: absolute; */
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	/* background-color: orange; */
}

.profile-container * {
	box-sizing: border-box;
}

.profile-container-styles {
	/* background-color: yellowgreen; */
	/* border: 0.5px dashed var(--orange); */
	box-sizing: border-box;
	padding: 5px;
	margin: 5px;
	align-self: center;
	width: 100%;
}

.profile-data-vis-container {
	height: 200px;
}

.profile-goal-workout-content-container {
	/* height: 200px; */
	position: relative;
	display: flex;
	/* align-items: stretch; */
	color: red;

}

.workout-component {
	/* background-color: azure; */
	margin: 20px;
	min-width: 50px;
	min-height: 50px;
}

.profile-workout-selector-container {
	min-height:700px;
	flex-grow: 3;
	/* width: 75%; */
	flex-basis: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 800px;
	/* background-color: white; */
	
}

.profile-exercise-chart {
	position: sticky;
	top: 200px;
	height: 200px;
	flex-grow: 1;
	/* width: 25%; */
	flex-basis: 0;
	background-color: blanchedalmond;
}

.profile-footer {
	height: 1000px;
}