.profile-container {
	/* position: absolute; */
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	/* background-color: orange; */
}

.profile-container * {
	box-sizing: border-box;
}

.profile-container-styles {
	/* background-color: yellowgreen; */
	/* border: 0.5px dashed var(--orange); */
	box-sizing: border-box;
	padding: 5px;
	margin: 5px;
	align-self: center;
	width: 100%;
}

.profile-data-vis-container {
	height: 200px;
}

.profile-goal-workout-content-container {
	/* height: 200px; */
	position: relative;
	display: flex;
	/* align-items: stretch; */
	color: red;

}

.workout-component {
	/* background-color: azure; */
	/* margin: 20px; */
	/* min-width: 50px; */
	/* min-height: 50px; */
}

.profile-workout-selector-container {
	min-height:700px;
	flex-grow: 3;
	/* width: 75%; */
	flex-basis: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 800px;
	/* background-color: white; */
	
}

.profile-exercise-chart {
	position: sticky;
	top: 200px;

	/* STICKY CAN TAKE A MIN HEIGHT */
	min-height: 200px;
	/* THIS ALLOWS STICKY TO EXPAND WITH CONTENTS WHILE STILL EXHIBITING "STICKY" BEHAVIOR */
	height: 100%;
	/* flex-grow: 1; */
	flex-basis: 0;
	/* background-color: blanchedalmond; */
	min-width: 300px;

	display: flex;
	flex-direction: column;
	padding-left:10px;
}

.profile-exercise-chart * {
	font-family: var(--sans-serif);
	margin-bottom: 5px;
	color: var(--white);
}

.exercise-entry-deets {
	margin-bottom: 10px;
}

.exercise-entry-deets-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 0px;
}

.exercise-entry-deets-header * {
	color: var(--light-blue);
}

.exercise-entry-deets-note {
	font-style: italic;
}

.chart-div {
	border-bottom: var(--soft-white-divider);
}

.exercise-chart-table tr {
	padding: 3px 0px;
}

.exercise-chart-header-row * {
	color: var(--light-blue);
}

.exercise-chart-table th,td {
	text-align: left;
	padding: 0.5px 0px;
	/* margin: 5px 0px; */
}









.profile-footer {
	height: 1000px;
}