/* TODO Add site wide styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET - END */
/* RESET - END */
/* RESET - END */

body {
	/* COLORSPACE */
	--dark-blue: #024059;
	--dark-blue-lighter: #064a66;
	--medium-blue: #6BA7BE;
	--medium-blue-darker: #279bc9;
	--light-blue: #b0cdd9;
	--light-blue-darker: #b7d2de;
	--orange: #F2490C;
	--dark-red: #730202;
	--yellow: yellow;
	--soft-white: #FBFAF5;
	--white: white;
	--black: black;

	/* COLORSPACE: RATING GRADIENT */

	--rating-5: rgba(255, 255, 0, 1);
	--rating-4: rgba(255, 237, 88, 1);
	--rating-3: rgba(255, 223, 132, 1);
	--rating-2: rgba(239, 212, 169, 1);
	--rating-1: rgba(206, 205, 204, 1);


	--rating-transparency: 0.95;
	--rating-5: rgba(255, 255, 0, var(--rating-transparency));
	--rating-4: rgba(255, 237, 88, var(--rating-transparency));
	--rating-3: rgba(255, 223, 132, var(--rating-transparency));
	--rating-2: rgba(239, 212, 169, var(--rating-transparency));
	--rating-1: rgba(206, 205, 204, var(--rating-transparency));


	/* --rating-5: rgba(251, 5, 11, var(--rating-transparency));
	--rating-4: rgba(207, 52, 32, var(--rating-transparency));
	--rating-3: rgba(163, 65, 46, var(--rating-transparency));
	--rating-2: rgba(119, 70, 58, var(--rating-transparency));
	--rating-1: rgba(69, 69, 69, var(--rating-transparency)); */

	/* FONTSPACE */
	--serif: Georgia, serif;
	--sans-serif: Arial, Helvetica, sans-serif;

	/* STANDARD DIVIDER BORDER STYLE */
	--dark-red-divider: 1px solid var(--dark-red);
	--white-divider: 1px solid var(--white);
	--soft-white-divider: 1px solid var(--soft-white);

	line-height: 1;
	background-color: var(--light-blue);
	/* background-color: var(--form-background-color); */
	height: 100%;
}

body {

}

ol, ul {
	list-style: none;
}

*:focus {
	outline: none;
}

a, a:visited, a:hover, a:active {
	color: inherit;
}

.app-container {
	/* position: relative; */
}

body * {
	/* margin: 10px; */
	font-family: var(--form-font-family);
	text-decoration: none;
	font-size: 16px;
	list-style: none;
}

body input {
	font-family: var(--form-font-family);
}

h1 {
	font-size: 4rem;
	font-weight: 700;
}

h2 {
	font-size: 3rem;
	font-weight: 700;
}

h3 {
	font-size: 2rem;
	font-weight: 600;
}

h4 {
	font-size: 1.5rem;
	font-weight: 500;
}

h5, h6 {
	font-size: 1.2rem;
	font-weight: 500;
}