.empty-feed-container {
	margin-top: 4vw;
	margin-left: 5vw;
}

.empty-feed-container div {
	font-style: italic;
}

.feed-header {
	padding-top: 30px;
	margin: 20px 0px;
	font-family: var(--montserrat);
	font-weight: 500;
	white-space:nowrap;
}

.feed-posts-container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* justify-content: space-between; */
	align-items: flex-start;
	/* flex-grow: 6; */
	/* height: 100vh; */
	/* top:  */
	/* overflow-x: scroll; */
	/* overflow-y: scroll; */
	/* overflow: scroll; */
	/* padding-left: 40px; */
	/* padding-right: 80px; */
	/* padding: 0vw 10vw; */
	/* width: 90vw; */
	/* padding-right: 5vw; */
}

.filler-div {
	/* display: none; */
	width: 20%
}

.inner-feed-posts-container {
	width: 60%;
	justify-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	/* opacity: 0; */
	/* animation: mainFadeAnimation 01s ease 0.2s 1 normal forwards; */
	/* perspective: 4500px; */
}

.inner-feed-posts-container > h2 {
	/* position: absolute; */
	/* top: 200px; */
	/* margin: 20px 0px; */
	/* z-index: -1; */
}

#toggle1 {
	display:none;
}


#toggle2 {
	display: none;
}

.feed-header-letter {
	font-size: 3rem;
	font-weight: 700;
	margin: 20px 0px;
	font-family: var(--montserrat);
	font-weight: 500;
	opacity: 0;
	animation: fadeInLetter 0.18s ease-in-out 0s 1 normal forwards;
}

.feed-profile-picture {
	height: 50px;
	width: 50px;
	border-radius: 20px;
}

.post-photo-container {
	display: flex;
	width: 100%;
	height: 100%;
}

.feed-goal-picture {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 20px;
	margin: 10px 0;
}

.feed-workout-picture {
	height: 100%;
	width: 100%;
	object-fit: cover;
	margin: 20px 0;
	border-radius: 20px;
}

@keyframes fadeInLetter {
	0% {
		opacity: 0;
		/* transform: rotateY(0); */
		color: white;
	}
	40%{
		color: white;
	}
	50% {
		opacity: 1;
		color: orange;
		/* transform: rotateY(90deg); */

	}
	100% {
		opacity: 1;
		color: black;
		transform: scale(-1,1);
		/* transform: rotateY(180deg); */
	}
}