.follow-nav-bar-container {
	position: sticky;
	top: 200px;
	left: -5px;
	padding: 6px;
}

.follow-nav-bar-container *:not(.fa-solid) {
	font-family: var(--sans-serif);
}

.follow-nav-bar-container ul {
	background-color: inherit;
}

.follow-nav-bar-container li {
	/* transition: 0.5s; */
	padding: 1px;
	/* padding-bottom: 5px; */
	padding-bottom: 3px;
	padding-top: 3px;
	border-radius: 0.5px;
}

.follow-nav-bar-container a {
	font-size: 1.2em;
}

.follow-nav-bar-container a:hover {
	cursor: pointer;
	/* color: var(--orange); */
	/* background-color: var(--light-blue); */
	/* font-weight: 900; */
}

.follow-nav-bar-container a.active {
	color: var(--orange);
}

.follow-nav-active {
	color: var(--black);
}

.hover-marker {
	/* top: 34px; */
	z-index: -1;
	position: absolute;
	top: -34px;
	bottom: 2px;
	min-height: 20px;
	background-color:var(--orange);
	/* opacity: 0; */
	transform-origin: left;
	width: 1px;
	/* transform: rotateY(180deg) rotateX(90deg); */
	transform: rotateX(90deg) skewX(10deg);
	/* transition: all 0.5s; */
	/* transition: transform 1.3s, top 0.3s, left 0.3s, height 0.3s, width 0.3s, color 0.3s, box-shadow 0.3s, opacity 0.3s, transform 1.3s; */
}

.feed-links-box {
	padding: 3px 8px;
}

/* ----------------------------------------------------- */
/* -------------------^ FEED TYPE ^--------------------- */
/* -------------------V--FILTERS--V--------------------- */
/* ----------------------------------------------------- */

.post-type-filter-container {
	position: relative;
	left: -5px;
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	/* border-radius: 15px;/ */
	/* border: 1px solid gray; */
	/* box-sizing: border-box; */
}

.post-type-filter-container-divider {
	height: 80%;
	width: 1px;
	background-color: black;
	border-right: 1px solid black;
}

.post-type-filter-container * {
	font-size: 1.3em;
	cursor: pointer;
}

.post-type-filter-container > .post-filter-option  {
	padding-top: 11px;
	padding-bottom: 11px;
	transition: all 0.3s;
	width: 24px;
	display: flex;
	justify-content: center;
}

.post-type-filter-container > .post-filter-option:nth-child(1) {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	padding-left: 20px;
	padding-right: 15px;
}
.post-type-filter-container > .post-filter-option:nth-child(2) {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-left: 15px;
	padding-right: 20px;
}

.post-type-filter-container > .post-filter-option:hover {
	color: var(--white);
	background-color: var(--white);
	background-color: rgb(163, 178, 194);
	box-shadow: 3px 3px rgb(114, 128, 141);
}

.active-filter * {
	color: var(--orange);
}

.active-filter {
	background-color: rgb(210, 231, 255);
	box-shadow: 3px 3px rgb(114, 128, 141);
}